.container1{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding-top: 60px;
    
}
.container2{
    display: grid;
    grid-template-columns: auto auto auto;  
    justify-content: center;
}
img{
    max-width: 50%;
    border-radius: 50%;
}

div .box_1{
    text-align: center;
    padding-top: 15px;
    background-color: rgb(225, 225, 221);
}
div .box_2{
    text-align: center;
    padding-top: 15px;
    background-color: rgb(240, 240, 225);
}
div .box_3{
    text-align: center;
    padding-top: 15px;
    background-color: rgb(240, 240, 225);
}
div .box_4{
    text-align: center;
    padding-top: 15px;
    background-color: rgb(240, 240, 225);
}
div .box_5{
    text-align: center;
    padding-top: 15px;
    background-color: rgb(240, 240, 225);
}
div .box_6{
    text-align: center;
    padding-top: 15px;
    background-color: rgb(225, 225, 221);
}